.modal-content {
  width: 100%;
  padding: 2rem;
  position: relative;

  background-color: $white;
  box-shadow: $shadow;
  border-radius: $radius_sm;
}

.modal__close{
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: -2.2rem;
  right: -2.2rem;
  z-index: 1;

  transition: transform .3s linear;

  &:hover{
    transform: rotate(180deg);
  }
}

.modal__close-icon{
  display: block;
  width: 100%;
  height: 100%;

  fill: $white;
}

.modal__title{
  font-size: 1.6rem;
  color: $green;
  font-weight: 500;
  margin-bottom: .5rem;
}

.modal__text{
  font-size: 1rem;
  color: $black;
  font-weight: 500;
  line-height: 1.2;

  margin-bottom: 2rem;

}