.social{
  display: flex;
  align-items: center;
}

.social__text{
  color: $black;
  font-size: .8rem;
  font-weight: 600;
  margin-right: 15px;
}

.social__link svg{
    width: 2rem;
    height: 2rem;
    margin: 0 5px 0;
    display: block;

}