.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social__link svg {
  width: 2rem;
  height: 2rem;
  display: block;


  transition: transform .1s linear;
}

.social__link svg:hover {
  transform: scale(1.2);
}