$white: #fff;
$purple: #945dff;
$green: #96d159;//#56bb77;
$black: #121212;
$gray: #fafafa;
$gray_dark: #a1a1a1;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);
/*56bb77 old96d457*/


/*bootstrap Modal*/
$modal-backdrop-bg: #96d159;
$modal-backdrop-opacity: .3;